

body{

  background-color: rgb(85, 83, 83);
  
}

.book{

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 180px;
  padding-top: 15px;
  margin-bottom: 20px;
  width: 160px;

}

.book__cover{

  box-shadow: 1px 1px 25px black;
  height: 165px;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  
}

.book__image{
  
  height: 100%;
  object-fit: contain;
  width: 100%;

}

.book__cover{
  cursor: pointer;
}
